asn1crypto
certifi
chardet
Click
cryptography
enum34
Flask
idna
ipaddress
itsdangerous
Jinja2
keyring
keyrings.alt
MarkupSafe
pycairo
pycrypto
pygobject
pyxdg
requests
SecretStorage
six
urllib3
vboxapi
Werkzeug
